/* Coolors Exported Palette - coolors.co/fdfffc-ddc8c4-ffcc33-9e2226-161925 */

/* HSL */
$color1: hsla(100%, 100%, 99%, 1);
$color2: hsla(10%, 27%, 82%, 1);
$color3: hsla(45%, 100%, 60%, 1);
$color4: hsla(358%, 65%, 38%, 1);
$color5: hsla(228%, 25%, 12%, 1);

/* RGB */
$color1: rgba(253, 255, 252, 1);
$color2: rgba(221, 200, 196, 1);
$color3: rgba(255, 204, 51, 1);
$color4: rgba(158, 34, 38, 1);
$color5: rgba(22, 25, 37, 1);